/* The animation code */
@keyframes Logo {
    0%   {background-color: rgb(173, 222, 236);}
    25%  {background-color: yellow; transform: translateY(500px); }
    50%  {background-color: orange; border-radius: 100%;}
    100% {background-color: red; transform: rotate(90deg); transform: translateX(700px)}
  }
  
  /* The element to apply the animation to */
  div {
    width: 200px;
    height: 180px;
    background-color: rgb(241, 173, 232);
    animation-name: Logo;
    animation-duration: 4s;
    animation-iteration-count: infinite;   
    animation-timing-function: ease-out; 
  } 